@{ 
    Layout = "_Layout";
}

<section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
        <h2 class="heading">Mon Blog</h2>
        <div class="intro">
            <p>Retrouvez mes derniers articles réalisés via ASP.NET Core MVC</p>
            <p>Date actuelle : @DateTime.Now</p>
        </div>

    </div><!--//container-->
</section>

<section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
        <h2 class="heading text-center">ACT For The Planet</h2>
        <div class="project-intro text-center">
            <p class="mb-0 lead">Application mobile permettant de suivre les données d’une poubelle connectée, </p>
            <p class="mb-0 lead">afin de la maintenir plus simplement et de vous avertir de son niveau.</p>
            <small class="text-muted text-center"><i class="fas fa-calendar fa-fw mr-2"></i>Date : 18/03/2020</small>
        </div>
    </div><!--//container-->
</section>
<section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
        <h2 class="heading text-center">ACT For The Planet</h2>
        <div class="project-intro text-center">
            <p class="mb-0 lead">Application mobile permettant de suivre les données d’une poubelle connectée, </p>
            <p class="mb-0 lead">afin de la maintenir plus simplement et de vous avertir de son niveau.</p>
            <small class="text-muted text-center"><i class="fas fa-calendar fa-fw mr-2"></i>Date : 18/03/2020</small>
        </div>
    </div><!--//container-->
</section>