@model AidImpactTraining.Models.Post
@{
    Layout = "_Layout";
}
    <div class="container"><hr></div>
    <div class="container">
        @*The posts markup are the same in the index and post page, so we use reusable components*@
        @await Html.PartialAsync("_Post")

        <div class="mb-4">
            <a class="btn btn-outline-secondary mr-2 mb-3" href="@Url.Action("Index", "Blog")"><i class="fas fa-backward mr-2"></i><span class="d-none d-md-inline">Retour</span></a>
        </div>
            <div class="container"><hr></div>
    </div>

