@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model AidImpactTraining.Models.Account.RegisterViewModel

<div class="container">
    <div class="container"><hr></div>
    <fieldset class="account">

    <h1 class="card-title">Nouvelle inscription</h1>

    <br />

    <form role="form" asp-action="Register">
        <div asp-validation-summary="All" class="input-validation-error text-danger"></div>

        <div class="form-group">
            <label asp-for="EmailAddress"></label>
            <input type="email" asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress" class="field-validation-error text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="field-validation-error text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="field-validation-error text-danger"></span>
        </div>
        <br />
        <div>
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </div>

    </form>
</fieldset>
</div>
