@inject AidImpactTraining.Models.FormattingService Format
@model AidImpactTraining.Models.Post

<article class="mt-5 mb-3">
    <h1>
        @Html.ActionLink(Model.Title, "Post", "Blog",
                                        new { year = Model.Posted.Year, month = Model.Posted.Month, key = Model.Key }
                                    )
    </h1>
    <div class="details">
        Créé le <span>@Format.AsReadableDate(Model.Posted)</span> par <span>@User.Identity.Name</span>
    </div>
    <div class="content">
        @Model.Body
    </div>
</article>

