@{ Layout = "_Layout"; }

<div class="container"><hr></div>
<section class="cta-section theme-bg-light py-5">
    <div class="container single-col-max-width">
        <h2 class="heading text-center">Erreur 404</h2>
        <div class="project-intro text-center">
            <p class="mb-0 lead">Une erreur s'est produite.</p>
            <p class="mb-0 lead">Veuillez réessayer.</p>
        </div>
    </div><!--//container-->
</section>		