@{ Layout = "_Layout"; }

<section class="about-me-section p-3 p-lg-5 theme-bg-light">
    <div class="container">
        <div class="profile-teaser media flex-column flex-lg-row">

            <div class="media-body">
                <h2 class="name font-weight-bold mb-1">Jérémy Bourgne</h2>
                <div class="tagline mb-3">Développeur Logiciel Junior</div>
                <div class="bio mb-4">
                    Je suis développeur logiciel spécialisé dans le backend en alternance chez Studec. Ce blog à été réalisé dans le but de revoir et d'approfondir mes connaissances en ASP.NET Core MVC.

                    <h4 class="my-3">Points sur lesquels j'ai travaillé :</h4>
                    <ul class="mb-5">
                        <li class="mb-2">La configuration du fichier « startup »</li>
                        <li class="mb-2">Le Model-View-Controller (MVC)</li>
                        <li class="mb-2">Les Razor Pages et les Partials</li>
                        <li class="mb-2">Les tag helpers pour simplifier les formulaires</li>
                        <li class="mb-2">La communication vers une BDD avec Entity Framework</li>
                        <li class="mb-2">Le concept Partial Rendering</li>
                        <li class="mb-2">Sécurité de l'application</li>
                    </ul>
                </div><!--//bio-->
                <div class="mb-4">
                    <a class="btn btn-primary mr-2 mb-3" href="@Url.Action("Index", "Blog")"><i class="fas fa-arrow-alt-circle-right mr-2"></i><span class="d-none d-md-inline">Voir le</span> Blog</a>
                    <a class="btn btn-secondary mr-2 mb-3" href="https://github.com/BourgneJeremy/AidImpactTraining" target="_blank"><i class="fab fa-github-alt mr-2"></i><span class="d-none d-md-inline">Github</span></a>
                </div>
            </div><!--//media-body-->
            <img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" style="width: 15.5em; height: 24em;" src="assets/images/profile-lg.jpg" alt="">
        </div>
    </div>
</section><!--//about-me-section-->